In [249]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df_train=pd.read_excel('Data_Train.xlsx')
df_test=pd.read_excel('Test_set.xlsx')

In [250]:
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [251]:
df_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [252]:
df=pd.concat([df_train, df_test], ignore_index=True)

In [253]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [254]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.1+ MB

In [255]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [256]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [257]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [258]:
df['Airline'] = df['Airline'].map({'IndiGo':1, 'Air India':2, 'Jet Airways':3, 'SpiceJet':4, 'Vistara':5, 'GoAir':6, 'Multiple carriers':7, 'Air Asia':8, 'Vistara Premium economy':9, 'Jet Airways Business':10})

In [259]:
from sklearn import preprocessing
#label encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
# enncode labels in column Airline
df['Airline']= label_encoder.fit_transform(df['Airline'])

df['Airline'].unique()
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,0,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,1,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,2,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,0,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,0,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [260]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [261]:
df['Source'] = df['Source'].map({'Delhi':1, 'Kolkata':2, 'Banglore':3, 'Mumbai':4, 'Chennai':5})

In [262]:
from sklearn import preprocessing
#label encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
# enncode labels in column Airline
df['Source']= label_encoder.fit_transform(df['Source'])

df['Source'].unique()
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,0,24/03/2019,2,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,1,1/05/2019,1,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,2,9/06/2019,0,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,0,12/05/2019,1,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,0,01/03/2019,2,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [263]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [264]:
df['Date']=df['Date_of_Journey'].str.split('/').str[0].astype(int)
df['Month']=df['Date_of_Journey'].str.split('/').str[1].astype(int)
df['Year']=df['Date_of_Journey'].str.split('/').str[2].astype(int)

In [265]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,0,24/03/2019,2,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,1,1/05/2019,1,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,2,9/06/2019,0,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019
3,0,12/05/2019,1,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,0,01/03/2019,2,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [266]:
df.drop(['Date_of_Journey'], axis=1, inplace=True)

In [267]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,0,2,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019

In [268]:
df['Arrival_Time']=df['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [269]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,0,2,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019

In [270]:
df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [271]:
df['arrival_hour']=df['Arrival_Time'].str.split(':').str[0].astype(int)
df['arrival_minute']=df['Arrival_Time'].str.split(':').str[1].astype(int)

In [272]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,arrival_hour,arrival_minute
0,0,2,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10

In [273]:
df.drop('Arrival_Time', axis=1, inplace=True)

In [274]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,arrival_hour,arrival_minute
0,0,2,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10

In [275]:
df['departure_hour']=df['Dep_Time'].str.split(':').str[0].astype(int)
df['departure_minute']=df['Dep_Time'].str.split(':').str[1].astype(int)
df.drop('Dep_Time', axis=1, inplace=True)

In [276]:
df.head(1)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,arrival_hour,arrival_minute,departure_hour,departure_minute
0,0,2,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20

In [277]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13354 non-null  int64
 1   Source            13354 non-null  int64
 2   Destination       13354 non-null  object
 3   Route             13353 non-null  object
 4   Duration          13354 non-null  object
 5   Total_Stops       13353 non-null  object
 6   Additional_Info   13354 non-null  object
 7   Price             10683 non-null  float64
 8   Date              13354 non-null  int32
 9   Month             13354 non-null  int32
 10  Year              13354 non-null  int32
 11  arrival_hour      13354 non-null  int32
 12  arrival_minute    13354 non-null  int32
 13  departure_hour    13354 non-null  int32
 14  departure_minute  13354 non-null  int32
dtypes: float64(1), int32(7), int64(2), object(5)
memory usage: 1.2+ MB

In [278]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [279]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop':0, '1 stop':1, '2 stops':2, '3 stops':3, '4 stops':4 ,'nan':1})

In [280]:
df.drop('Route', axis=1, inplace=True)

In [281]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,arrival_hour,arrival_minute,departure_hour,departure_minute
0,0,2,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,1,1,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,2,0,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,0,1,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,0,2,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [282]:
df['Duration_hours'] = df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [283]:
df[df['Duration_hours']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,arrival_hour,arrival_minute,departure_hour,departure_minute,Duration_hours
6474,1,3,Hyderabad,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50,5m
13343,1,3,Hyderabad,5m,2.0,No info,NaN,12,3,2019,16,55,16,50,5m

In [284]:
df.drop(df[df['Duration_hours']=='5m'].index, axis=0, inplace=True)

In [287]:
df['Duration_min']=(df['Duration_hours'].astype(int))*60 + df['Duration'].str.split(' ').str[1].str.split('m').str[0].fillna(0).astype(int)

In [290]:
df.drop('Duration', axis=1, inplace=True)

In [291]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,arrival_hour,arrival_minute,departure_hour,departure_minute,Duration_hours,Duration_min
0,0,2,New Delhi,0.0,No info,3897.0,24,3,2019,1,10,22,20,2,170
1,1,1,Banglore,2.0,No info,7662.0,1,5,2019,13,15,5,50,7,445
2,2,0,Cochin,2.0,No info,13882.0,9,6,2019,4,25,9,25,19,1140
3,0,1,Banglore,1.0,No info,6218.0,12,5,2019,23,30,18,5,5,325
4,0,2,New Delhi,1.0,No info,13302.0,1,3,2019,21,35,16,50,4,285

In [292]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13352 entries, 0 to 13353
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13352 non-null  int64
 1   Source            13352 non-null  int64
 2   Destination       13352 non-null  object
 3   Total_Stops       13351 non-null  float64
 4   Additional_Info   13352 non-null  object
 5   Price             10682 non-null  float64
 6   Date              13352 non-null  int32
 7   Month             13352 non-null  int32
 8   Year              13352 non-null  int32
 9   arrival_hour      13352 non-null  int32
 10  arrival_minute    13352 non-null  int32
 11  departure_hour    13352 non-null  int32
 12  departure_minute  13352 non-null  int32
 13  Duration_hours    13352 non-null  int32
 14  Duration_min      13352 non-null  int32
dtypes: float64(2), int32(9), int64(2), object(2)
memory usage: 1.2+ MB

In [ ]:
df['Destination'] = df['Destination'].map({'Cochin':1, 'Banglore':2, 'Delhi':3, 'New Delhi':4, 'Hyderabad':5, 'Kolkata':6, 'Mumbai':7})

In [293]:
from sklearn import preprocessing
#label encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
# enncode labels in column Airline
df['Destination']= label_encoder.fit_transform(df['Destination'])

df['Destination'].unique()
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,arrival_hour,arrival_minute,departure_hour,departure_minute,Duration_hours,Duration_min
0,0,2,5,0.0,No info,3897.0,24,3,2019,1,10,22,20,2,170
1,1,1,0,2.0,No info,7662.0,1,5,2019,13,15,5,50,7,445
2,2,0,1,2.0,No info,13882.0,9,6,2019,4,25,9,25,19,1140
3,0,1,0,1.0,No info,6218.0,12,5,2019,23,30,18,5,5,325
4,0,2,5,1.0,No info,13302.0,1,3,2019,21,35,16,50,4,285

In [296]:
df['Additional_Info'].map({'No info':0, 'In-flight meal not included':1, 'No check-in baggage included':2, '1 Long layover':3, 'Change airports':4, 'Business class':5, 'Red-eye flight':6, '2 Long layover':7})

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
13349    0.0
13350    0.0
13351    0.0
13352    0.0
13353    0.0
Name: Additional_Info, Length: 13352, dtype: float64

In [297]:
from sklearn import preprocessing
#label encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
# enncode labels in column Airline
df['Additional_Info']= label_encoder.fit_transform(df['Additional_Info'])

df['Additional_Info'].unique()
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,arrival_hour,arrival_minute,departure_hour,departure_minute,Duration_hours,Duration_min
0,0,2,5,0.0,8,3897.0,24,3,2019,1,10,22,20,2,170
1,1,1,0,2.0,8,7662.0,1,5,2019,13,15,5,50,7,445
2,2,0,1,2.0,8,13882.0,9,6,2019,4,25,9,25,19,1140
3,0,1,0,1.0,8,6218.0,12,5,2019,23,30,18,5,5,325
4,0,2,5,1.0,8,13302.0,1,3,2019,21,35,16,50,4,285